	p{
		margin-left: 100px;
	width: 100px;
    background-color: gray;
    
		}
		div{
			border:1px solid;
		}
		/*p1{
		margin-left: 50px;
	width: 100px;
    background-color: gray;
    
		}*/
		/*body{

	border:2px solid black;
	height: 400px;
	margin-left: 310px;
	width: 50%;
	margin-bottom: 400px;
}*/

}