body {
    background-color: gray;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
     overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-left: 50px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

div.slide-slow {
  width:100%;
  overflow:hidden;
  margin-bottom:100%
}
div.slide-slow div.inner {
  animation: slide-slow 300s;
  margin-bottom:100%;
}

@keyframes slide-slow {
  from {
    margin-right: 0%;
  }

  to {
    margin-right: 0%;
  }
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color: blue;
   color: white;
   text-align: center;
   color: green;
   
}
.n{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.n1{
  margin-right: 800px;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}